<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 - Atlas Search</title>
</head>
<style>
    :root {
        --primary-color: #121212;
        --secondary-color: #2a2929;
        --light-secondary-color: #545151;
        --maintext-color: #5647ae;
        --subtext-color: #f0f0f0;
    }
    body {
        background-color: var(--primary-color)
    }
    h1 {
        color: var(--maintext-color);
        text-align: center;
        font-family: "Courier New";
        font-size: 450%;
    }
    }
    h2 {
        text-align: center;
        font-family: "Courier New";
        color: var(--subtext-color);
    }
</style>
<body>
    <a href="/" style="text-decoration: none;"><h1>404 - Page not found!</h1></a>
    <h2>{{uri}}</h2>
</body>
</html>