<!DOCTYPE html>
<html lang="en">
<head>
    <title>Atlas Search</title>
</head>
<style>
    body {
        background-color: #181823;
    }
    h1 {
        color: #537FE7;
        text-align: center;
        font-family: "Courier New";
        font-size: 450%;
    }
    h4 {
        color: #537FE7;
        text-align: center;
        font-family: "Courier New";
    }
</style>
<body>
    <a href="/" style="text-decoration: none;"><h1>Atlas Search</h1></a>
    <h4>Did not find any results in {{time}}</h4>
</body>
</html>