<!DOCTYPE html>
<html lang="en">
<head>
    <title>Atlas Search</title>
</head>
<style>
    :root {
        --primary-color: #121212;
        --secondary-color: #2a2929;
        --light-secondary-color: #545151;
        --maintext-color: #5647ae;
        --subtext-color: #f0f0f0;
    }
    body {
        background-color: var(--primary-color)
    }
    h1 {
        color: var(--maintext-color);
        text-align: center;
        font-family: "Courier New";
        font-size: 450%;
    }
    form {
        text-align: center;
    }
    input[type=text] {
        width: 40%;
        border-radius: 5px;
        padding: 6px 10px;
        border: 0;
        margin: 4px 0;
        box-sizing: border-box;
        text-align: left;
        background-color: var(--secondary-color);
        color: var(--subtext-color);
        font-family: "Courier New";
        font-size: 130%;
        outline: 0;
    } 
    button {
        display: inline-block;
        padding: 6px 10px;
        background-color: var(--secondary-color);
        color: var(--subtext-color);
        font-family: "Courier New";
        font-size: 130%;
        border-radius: 5px;
        border: none;
        outline: 0;
    } 
    button:hover {
        background-color: var(--light-secondary-color);
    }
    h4 {
        color: var(--maintext-color);
        text-align: center;
        font-family: "Courier New";
    }
    .result {
        margin: auto;
        border-radius: 6px;
        margin-top: 20px;
        width: 60%;
        height: 45%;
    }
    .result:hover {
        background-color: var(--secondary-color);
    }
    .result h3 {
        margin-top: 0.2em;
        margin-bottom: 0.1em;
        color: var(--subtext-color);
        font-family: "Courier New";
        margin-left: 3px;
    }
    .result h6 {
        margin-top: 0.2em;
        margin-bottom: 0.1em;
        color: var(--subtext-color);
        font-family: "Courier New";
        margin-left: 3px;
    }
    .result p {
        color: var(--subtext-color);
        font-family: "Courier New";
        font-size: medium;
        margin-top: 0.2em;
        margin-bottom: 0.1em;
        margin-left: 3px;
        margin-right: 0;
    }
</style>
<body>
    <a href="/" style="text-decoration: none;"><h1>Atlas Search</h1></a>
    <form action="/s" method="get">
        <input type="text" name="q" value="{{query}}" autocomplete="off">
        <button type="submit">Search</button>
    </form>
    <h4>Found {{results}} results in {{time}}</h4>
    <h4>Current corpus size is {{corpus_size}}</h4>
{{#each items}} <div class="result"> <h3>{{title}}</h3> <a href="{{url}}"> <h6>{{html_url}}</h6> </a><h6>Score: {{score}}</h6></div> {{/each}}
</body>
</html>
